{% extends 'partials/base.html' %}
{% load static %}
{% block title %}Charity | Home Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}




<body>
    <!-- Begin Hero Bg -->
    <div id="parallax">
    </div>
    <!-- End Hero Bg
        ================================================== -->
    <!-- Start Header
        ================================================== -->
    <header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <!-- Your Logo -->
            <a href="#hero" class="navbar-brand  text-black">RUN CHARITY <span class="lighter">LITE</span></a>
        </div>
        <!-- Start Navigation -->
        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
        <ul class="nav navbar-nav">
            <li>
            <a href="#hero">Home</a>
            </li>
            <li>
            <a href="#about">About</a>
            </li>
            <li>
            <a href="#gallery">Gallery</a>
            </li>
            <li>
            <a href="#slider">Testimonials</a>
            </li>
            <li>
            <a href="#faq">FAQ</a>
            </li>
            <li>
            <a href="#contactarea">Contact</a>
            </li>
        </ul>
        </nav>
    </div>
    </header>
    
    <!-- Intro
        ================================================== -->
    <section id="hero" class="section" style="background-image: url({% static 'assets/img/intro.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="herotext p">
                    <h1 class="wow bounceInDown" data-wow-duration="1s" data-wow-delay="0.1s">RUN <span class="lighter">CHARITY</span></h1>
                    <p class="lead wow zoomIn" data-wow-duration="2s" data-wow-delay="0.5s">
                        When we give cheerfully and accept gratefully, everyone is blessed.
                    </p>
                    <p>
                        <a href="#" class="btn btn-default btn-lg wow fadeInLeft" role="button"> View Gallery </a> &nbsp; <a href="#" class="btn btn-default btn-lg wow fadeInRight" role="button">Find a Cause</a>
                    </p>
                </div>
            </div>
            <div class="col-md-7">
            </div>
        </div>
    </div>
    </section>
    <!-- About
        ================================================== -->
    <section id="about" class="parallax section" style="background-image: url({% static 'assets/img/intro.jpg' %});">
    <div class="wrapsection">
        <div class="parallax-overlay" style="background-color: #01b0d1;opacity:0.9;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Title -->
                    <div class="maintitle">
                        <h3 class="section-title"><strong>FIND <span class="lighter">CAUSE</span></strong> to support on your run</h3>
                        <p class="lead">
                            Mentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae sapien.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow zoomIn" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <img src="{% static 'assets/img/intro.jpg' %}" alt="">
                        <h3>August 7, 2015 <br/>Square Garden</h3>
                        <div class="text-left">
                            <p>
                                I will place all the necessary content for this event here, including where they can register, join, attend &amp; so on.
                            </p>
                            <p>
                                If not enough room, I will link to learn more, a new event page dedicated.
                            </p>
                            <p>
                                Yap. Really looking goody awesome!
                            </p>
                            <p class="text-center">
                                <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <span class="glyphicon glyphicon-stats"></span>
                        <h3>1.386 Participants</h3>
                        <p>
                            Nullam posuere, libero id interdum hendrerit, tortor nisl consectetur elit.
                        </p>
                        <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <span class="glyphicon glyphicon-tree-deciduous"></span>
                        <h3>195 Concerts</h3>
                        <p>
                            Nullam posuere, libero id interdum hendrerit, tortor nisl consectetur elit.
                        </p>
                        <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.3s">
                        <span class="glyphicon glyphicon-heart"></span>
                        <h3>268 Sponsors</h3>
                        <p>
                            Nullam posuere, libero id interdum hendrerit, tortor nisl consectetur elit.
                        </p>
                        <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="service-box wow flipInY" data-wow-duration="1.5s" data-wow-delay="0.4s">
                        <span class="glyphicon glyphicon-usd"></span>
                        <h3>$5.647 Donated</h3>
                        <p>
                            Nullam posuere, libero id interdum hendrerit, tortor nisl consectetur elit.
                        </p>
                        <button type="button" class="btn btn-info btn-md"><a href="#">Learn More</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Random
        ================================================== -->
    <section class="parallax section" style="background-image: url({% static 'assets/img/intro.jpg' %});">
        <div class="wrapsection">
        <div class="parallax-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 sol-sm-12">
                    <div class="maintitle">
                        <h3 class="section-title justtitle">Participation is everything</h3>
                        <p class="lead bottom0 wow bounceInUp">
                            Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Gallery
        ================================================== -->
    <section id="gallery" class="parallax section" style="background-image: url({% static 'assets/img/intro.jpg' %});">
    <div class="wrapsection">
        <div class="parallax-overlay" style="background-color:#00c1c1;opacity:0.9;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 sol-sm-12">
                    <div class="maintitle">
                        <h3 class="section-title">Events Gallery</h3>
                        <p class="lead wow flipInX">
                            Have a look at your past events gallery, see how much fun we have while helping people all over the world. Join our community today!
                        </p>
                    </div>
                </div>
                
                
                <div class="col-md-4">
                    <a href="https://unsplash.imgix.net/uploads/141327328038701afeede/eda0fb7c?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                    <img src="{% static 'assets/img/intro.jpg' %}" alt="" class="image-responsive">
                        <div class="description">
                            <span class="caption ">Young <b>volunteers</b></span><br> 
                            <span class="caption">Young <b>volunteers</b></span> 
                            <span class="camera"><i class="fa fa-tachometer"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://ununsplash.imgix.net/photo-1418225043143-90858d2301b4?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                    <img src="https://ununsplash.imgix.net/photo-1418225043143-90858d2301b4?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                        <div class="description">
                            <span class="caption">Charity <b>concerts</b></span> 
                            <span class="camera"><i class="fa fa-microphone"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" title="This is the description">
                    <img src="https://unsplash.imgix.net/photo-1428908799722-0a74e26ce7f6?fit=crop&amp;fm=jpg&amp;h=700&amp;q=75&amp;w=1050" alt="" class="image-responsive">
                        <div class="description">
                            <span class="caption">Generous <b>sponsors</b></span> 
                            <span class="camera"><i class="fa fa-coffee"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Text Carousel
        ================================================== -->
  
    <!-- FAQ
        ================================================== -->
    <section id="faq" class="section">
    <div class="wrapsection">
        <div class="container">
            <div class="row">
                <div class="col-md-12 sol-sm-12">
                    <div class="maintitle">
                        <h3 class="section-title">Conditions of <span class="wow bounceInRight">Participation</span></h3>
                        <p class="lead">
                            Sed gravida, tortor in tincidunt sagittis, ligula lacus ultrices justo, sed mattis sem sem ut ex. Ut nunc elit, auctor et quam sit amet, convallis purus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0s">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    How old can I be? </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         How old. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Can we donate clothes? </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         Can we? This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    How many miles to run ? </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         So how many. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.1s">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    Can we show sponsors? </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         Sponsors. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                    Are there free drinks? </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         Drinks. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                    Is medical exam free ? </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         Medical. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="faq-block wow bounceInDown" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
                                    Do you help with passport? </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         Passport. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
                                    What routes should one follow? </a>
                                    </h4>
                                </div>
                                <div id="collapseEight" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         Routes. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
                                    Do I have to pay a tax? </a>
                                    </h4>
                                </div>
                                <div id="collapseNine" class="panel-collapse collapse">
                                    <div class="panel-body">
                                         Tax. This is the detailed answer. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Random
        ================================================== -->
    <section class="whitecolor parallax section" style="background-image: url({% static 'assets/img/intro.jpg' %});">
    <div class="wrapsection">
        <div class="container">
        <div class="row">
            <div class="col-md-12 sol-sm-12">
                <div class="maintitle">
                    <h3 class="section-title justtitle">Charity <span class="wow flipInX">&amp; love</span> are the same</h3>
                    <p class="lead bottom0">
                         Fusce fermentum lectus id turpis suscipit, ut egestas magna volutpat. Donec a purus tellus. Nunc ut dolor eu est gravida auctor quis vitae.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- Contact
        ================================================== -->
    <section id="contactarea" class="parallax section" style="background-image: url({% static 'assets/img/intro.jpg' %});">
    <div class="wrapsection">
        <div class="parallax-overlay" style="background-color: #1cbb9b;opacity:0.95;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="maintitle">
                        <h3 class="section-title">Get in Touch</h3>
                        <p class="lead">
                            If you have questions about our events, don't hesitate to send us your message.                     </p>
                    </div>
                    <form id="contact" name="contact" method="post" class="text-left">
                        {% csrf_token %}
                        <fieldset>
                            <div class="row">
                                <div class="col-md-6 fadeIn ">
                                    {{message_form.name|as_crispy_field}}
                                </div>
                                <div class="col-md-6 fadeIn ">
                                    {{message_form.phone|as_crispy_field}}
                                </div>
                                <div class="col-md-12 fadeIn ">
                                    {{message_form.email|as_crispy_field}}
                                </div>
                                <div class="col-md-12 fadeIn ">
                                    {{message_form.subject|as_crispy_field}}
                                </div>
                               
                                <div class="col-md-12 fadeIn ">
                                    {{message_form.body|as_crispy_field}}
                                </div>
                                <div class="fadeIn" >
                                    <input style="margin-left: 1.7%;" id="submit" type="submit" name="submit" value="Send"/>
                                </div>
                        </fieldset>
                    </form>
                    <div id="success">		
                        <p class="contactalert">
                            Your message was sent succssfully! We will be in touch as soon as possible.
                        </p>			
                    </div>
                    <div id="error">			
                        <p class="contactalert">
                             Something went wrong, try refreshing and submitting the form again.
                        </p>			
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!-- Credits 
    =============================================== -->
    <section id="credits" class="text-center">
        <span class="social wow zoomIn">
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-skype"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-google-plus"></i></a>
        </span><br/>
        Copyright &copy; <a href="#">Your Agency</a> 
        <br/>Template By <i class="fa fa-heart"></i> WowThemes.Net
    </section>
    
    </body>
{% endblock %}